.atom-stories{
	position: absolute;
	z-index: 10;

	background-color: white;
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding:20px;
	padding-top: 40px;
	top: 63px;
	
	visibility: hidden;

	max-width: none;
	width: 100%;

	@media(--md){
		width: 100%;
		max-width: 360px;
		right: 20px;
	}
}

.atom-stories-visible{
	visibility: visible;
}

	.atom-stories-cross{
		position: absolute;
		top: 10px;
		right:10px;
		cursor: pointer;
		
		width:20px;
		height:20px;
		@media(--md){
			width:32px;
			height:32px;
		}
		& svg{
			width: 100%;
		}		
	}

	.atom-stories-header{
		font-family: 'RalewayBold';
		font-size: 26px;
		line-height: 36px;
		margin-bottom: 20px;
	}

	.atom-stories-sheader{
		font-family: 'RalewayMedium';
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 40px;
		text-align: center;
	}

	.atom-stories-button{
		display: flex;
		border-bottom: 1px solid black;
		width: 100%;
		cursor: pointer;
		opacity: 1;
		font-family: 'RalewayMedium';
		font-size: 16px;
		line-height: 21px;
		padding-top: 9px;
		padding-bottom: 9px;
	}
	.atom-stories-button:hover{
		& .atom-stories-button-txt2{
			transform: translate(5px, 0);
		}
	}



	.atom-stories-button[data-id="0"]{
		padding-top: 0;
	}
	.atom-stories-button[data-id="6"]{
		border-bottom: 0px solid black;
		margin-bottom: 40px;
		padding-bottom: 0;
	}

	.atom-stories-button-txt1{
		margin-right: 30px;
	}
	.atom-stories-button-txt2{
		transition: transform 0.5s ease-out;
		text-transform: uppercase;
	}
	.atom-stories-button-txt3{
		text-transform: uppercase;
		cursor: pointer;
		font-family: 'RalewayMedium';
		font-size: 16px;
		line-height: 21px;
	}

