.atom-menu{
	position: absolute;
	width:100%;
	max-width: 1440px;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: top;
	color: white;
	font-family: 'RalewaySemiBold';
	font-size: 16px;
	line-height: 19px;
	padding: 20px;

	@media(--md){
		align-items: center;
	}
}

	.atom-menu-logo{
		cursor: pointer;
	}

	.atom-menu-about{
		position: relative;
		cursor: pointer;
	}
	.atom-menu-about:hover{
		& .atom-menu-line[data-id="0"]{
			transform: scaleX(1);
		}
	}

	.atom-menu-line{
		position: absolute;
		bottom: -4px;
		left: 0px;
		width: 100%;
		height: 1px;
		background-color: white;
		transform-origin: 0 50%;
		transform: scaleX(0);
		transition: all 0.5s ease-out;
		opacity: 0;
		@media(--md){
			opacity: 1;
		}
	}


	.atom-menu-stories{
		cursor: pointer;
		text-align: right;
		display: flex;
		justify-content: flex-end;
		@media(--md){
			min-width: 170px;
		}
	}
	.atom-menu-stories-txt:hover{
		& .atom-menu-line[data-id="1"]{
			transform: scaleX(1);
		}
	}

	.atom-menu-stories-start{
		display: none;
		@media(--md){
			display: block;
		}
	}

	.atom-menu-stories-txt{
		position: relative;
		display: none;
		@media(--md){
			display: inline-block;
		}
	}

	.atom-menu-stories-burger{
		display: block;
		@media(--md){
			display: none;
		}
	}