ScreenMobile = 768px
ScreenSmall = 1024px
ScreenRegular = 1344px
ScreenLarge = 1440px

BlockSizeL = 104px
BlockSizeR = 80px
BlockSizeS = 64px

.column
    display inline-block
    flex-shrink 0
    flex-grow 0
    max-width 100%
    // max-width 100vw // dunno if in should be vw or %

    for n in (0..12)
        &.{'width'+n}
            width BlockSizeR*n

    for n in (0..12)
        &.{'left'+n}
            margin-left BlockSizeR*n

    for n in (0..12)
        &.{'right'+n}
            margin-right BlockSizeR*n

.column.mode-row
    display flex
    flex-direction row
    flex-wrap wrap

.screen-size-large
  .column
    for n in (0..12)
        &.{'width'+n}
            width BlockSizeL*n

    for n in (0..12)
        &.{'left'+n}
            margin-left BlockSizeL*n

    for n in (0..12)
        &.{'right'+n}
            margin-right BlockSizeL*n


.screen-size-regular
  .column
    for n in (0..12)
        &.{'width'+n}
            width BlockSizeR*n

    for n in (0..12)
        &.{'left'+n}
            margin-left BlockSizeR*n

    for n in (0..12)
        &.{'right'+n}
            margin-right BlockSizeR*n

.screen-size-small
  .column
    for n in (0..12)
        &.{'width'+n}
            width BlockSizeS*n

    for n in (0..12)
        &.{'left'+n}
            margin-left BlockSizeS*n

    for n in (0..12)
        &.{'right'+n}
            margin-right BlockSizeS*n

.screen-size-mobile
  .column
    //for n in (0..12)
    //    &.{'width'+n}
    //        max-width 100vw

    for n in (0..12)
        &.{'left'+n}
            margin-left 0px

    for n in (0..12)
        &.{'right'+n}
            margin-right 0px
