
.image-sequence
    position relative
    width 100%
    height 100%
    
.image-sequence canvas
    width 100%
    height 100%

.image-sequence > div
    height 100%

.image-sequence > div > div
.image-sequence .poster
    pointer-events none

    background-size cover
    background-position center

    width 100%
    height 100%

.image-sequence .poster
    position absolute
    top 0px
    left 0px
    right 0px
    width auto
    transition-delay visibility .1s
    
.image-sequence > div > div
    display none

    &.current
        display block

.image-sequence.rendered
    .poster
        visibility hidden

// .image-sequence ol
//     width 100%
//     height  100%

// .image-sequence li
//     position absolute
//     top 0px
//     left 0px
//     width 100%
//     height  100%

.image-sequence
    margin 0
    padding 0
    
    font-size 0px

.image-sequence.image-sequence_background
.image-sequence.image-sequence_img
    img
        width 100%
        //position absolute
        //top 0px
        //left 0px
            
.image-sequence.image-sequence_canvas
    img
        width initial!important
        height initial!important

// // IE fixes / warning: works badly for (spoils actually) iOS
// .image-sequence li
// .image-sequence img
//     -webkit-transform: translate3d(0,0,0); // hardware acceleration hack (for iOS etc)
//     -webkit-backface-visibility: hidden;
//     -moz-backface-visibility:    hidden;
//     -ms-backface-visibility:     hidden;
