.overlay
    position absolute
    left 0px
    top 0px
    
// .overlay.overlay_background
//     background-position center
//     background-size cover

.overlay.overlay_cover
    // width 100%
    // height 100%

.overlay
    pointer-events none
    > *:not(.overlay)
	    pointer-events auto
    
.overlay.overlay_ghost
    pointer-events none
    
.overlay.overlay_tangible
    pointer-events auto

.overlay.overlay_w100
    // width 100%

.overlay.overlay_h100
    // height 100%

.overlay.overlay_vh100
    height 100vh

// // this isn't right. do it in fixed elements(fixed, sticky riable)
// .inline-ria
//     .overlay.overlay_cover
//     .overlay.overlay_w100
//         max-width 1440px
