.pic
    content ''
    position relative
    // height 100%
    box-sizing: border-box;
    width 100%
    display block
    font-size 0
    // flex 0 0 auto
    > div
        position absolute
        top 0px
        left 0px
        width 100%
        height 100%
        background-position center
        background-size cover

    > img
        // width 100%
        // max-width 100%
        max-height 100%
    