.revealing-text-demo--sample 
    position relative

    button
        position absolute
        right 0px
        top 0px
        visibility hidden
    &:hover
        button 
            visibility visible