.zhban
.zhban1
.zhban2
.zhban3
.zhban4
    color black
    font-family Arial
    font-size 48px
    font-weight bold

@keyframes slideDownEmp
  0%
    opacity 0
    transform translateY(-500%)
  100%
    opacity 1
    transform translateY(0%)

@keyframes dropDown
  0%
    opacity 0
    transform translateY(-500%)
  85%
    opacity 1
    transform translateY(-10%)
  90%
    opacity 1
    transform translateY(0%)
  95%
    opacity 1
    transform translateY(-5%)
  100%
    opacity 1
    transform translateY(0%)

@keyframes slideUpVis
  0%
    transform translateY(25%)
  100%
    transform translateY(0%)

@keyframes slideDownVis
  0%
    transform translateY(-25%)
  100%
    transform translateY(0%)

.revealing-text-demo
    .info
        position relative
        // text-decoration underline
        border-bottom 1px solid rgba(white, .5)
        color white
