.video.cover169
    //object-fit cover
    height auto
    object-fit cover
    //background-color red
    width 100%

    //@media screen and (max-aspect-ratio:4/3) and (max-aspect-ratio: 16/9)
    @media screen and (max-aspect-ratio: 16/9)
        //background-color green
        width auto
        height 100%

.video.cover11
    //object-fit cover
    height auto
    object-fit cover
    //background-color red
    width 100%

    //@media screen and (max-aspect-ratio:4/3) and (max-aspect-ratio: 16/9)
    @media screen and (max-aspect-ratio: 1)
        //background-color green
        width auto
        height 100%
