// .waypoint
//     position relative

color-grey=#CCC
color-red=#F00

// .waypoint .deco
//     display none


.way.way_cover
    width 100%
    height 100%

.waypoint
    height 0px
    width 100%
    
.waypoint.waypoint_over
    position absolute

.waypoint .deco
    z-index 1
    position absolute
    font-family monospace
    font-size 12px
    border-left 1px solid color-grey
    border-top 1px solid color-red

    padding-left 10px
    padding-right 10px

    &:before
        content ''
        position absolute
        left 10px
        top 45%
        width 100%
        font-size 12px
        color white

    &:after
        content ''
        position absolute
        // left 0px
        width 100%
        // bottom 0px
        // border-top 1px solid color-grey

        left -5px
        bottom -5px
        width 10px
        height 10px
        border-radius 50%
        background-color color-grey

    &.neg
        border-top none
        border-bottom 1px solid color-red
        &:after 
            bottom auto
            top -5px

    &:hover
        background-color rgba(black, .2)
        &:before
            content attr(data-waypoint)
