// body
//     background-color #222

@keyframes WaydownCamDrift
    0%
        transform translate3d(10px, 0px, 0px)
    25%
        transform translate3d(10px, 10px, 0px)
    50%
        transform translate3d(0px, 10px, 0px)
    75%
        transform translate3d(0px, 0px, 0px)

// @keyframes WaydownStageDrift
//     0%
//         left 51%
//         top 50%
//     25%
//         left 51%
//         top 51%
//     50%
//         left 50%
//         top 51%
//     75%
//         left 50%
//         top 50%
//     100%
//         left 51%
//         top 50%

.waydown
    height 100%
    width 100%
    
    position relative
    // animation WaydownCamDrift 10s linear infinite

    .sprite3d-stage
        // animation WaydownStageDrift 10s linear infinite
        transform-style preserve-3d

        position absolute
        left 50%
        top 50%
        // width 100%
        // height 100%
        transition transform .5s cubic-bezier(0.785, 0.135, 0.15, 0.86)
        > *
            transform-style preserve-3d
            color white
            transition filter .3s, opacity .3s
        //     font-family monospace
        //     font-size 50px
        //     background-color rgba(white, .7)
        //     // background-color rgba(#222, .75)
        //     &.lorem
        //         width 300px
        //         font-size 10px

// special funny case
.browser-ie
    .waydown
        height 100%
        width 100%
        position relative

        .sprite3d-stage
            transform-style preserve-3d

            position absolute
            left 50%
            top 50%
            // width 100%
            // height 100%
            transition transform .5s cubic-bezier(0.785, 0.135, 0.15, 0.86)
            perspective 290px

            > *
                transform-style preserve-3d
                transition filter .3s, opacity .3s, transform .5s cubic-bezier(.785, .135, .15, .86) // that's kinda circular

// .screen-size-mobile
//     .waydown
//         perspective none!important
//     .sprite3d-stage > *
//         transform none
