@keyframes jwt
    0%
        transform translateX(0px)
        color #F00
        filter blur(0px)
    100%
        transform translateX(100px) rotate(1/2turn) scale(3)
        color #0FF
        filter blur(5px)

.jw-test
    position absolute
    left 50%
    top 50%
    animation jwt 1s ease-out both
    font-size 50px

.st
    background-color #DDF
    // background-image linear-graident(0deg, #000 0%, #FFF 100%)
    background-image linear-gradient(to bottom,  rgba(125,185,232,1) 0%,rgba(30,87,153,1) 50%,rgba(125,185,232,1) 100%)
    // background-image linear-gradient( 0deg, blue, green 40%, red )    