.slice.show
.slice.show2
.slice.show3
	// background-color green
	.slice__sec
		background-color white
		
.slice.show2
.slice.show3
	height 300px
.slice.show2
	background-color red
.slice.show3
	background-color green
