<div ref:self class="{ id }">
    <slot/>
</div>

<style lang="stylus">

</style>

<script>
    require('intersection-observer');

    import { event } from 'google-tag-manager'

    export default {
        props:['id'],
        data(){
            return { 
                visible:false,
            }
        },
        oncreate(){
            // console.log('oncreate analytics-anchor', this)

            // this.set({ visible:true })

            let options = {
                root: null,
                // rootMargin: "0px",
                // threshold: .5//buildThresholdList()
            };

            // const self = this
            // const self.refs.self

            const handleIntersect = (inters)=>{
                // console.log('inters', this, self, inters)
                if(!this.get().visible && inters[0].intersectionRatio > 0){
                    this.set({ visible: true })
                    event('anchor', { anchor:this.get().id })
                }
            }

            const observer = new IntersectionObserver(handleIntersect, options);
            observer.observe(this.refs.self);            
        },
        computed:{
        },
        methods:{
        }
    }

</script>