<span class="{ 'counter ' + classname||'' }">{ counterString }</span>

<script>
    import { TweenLite } from "gsap/TweenLite";
    import { Circ } from "gsap/EasePack";
    import { register } from 'app/app-registry'

    export default{
        props:['from', 'time', 'classname'],
        data(){
            return {
                start:0,
                target:0,
                counter:0,
                formatter:null,
            }
        },
        oncreate(){
            if(this.get().name)
                register(this.get().name, this)

            // trace('me', this)
            const s = this.from||0;
            this.set({
                target:s,
                counter:s
            })
        },
        onstate({ changed, current }){
            if( changed.target){
                // trace('target changed', current.target, this);
                var counter = { var: this.get().counter };
                TweenLite.to(counter, this.get().time||1., {
                    var: current.target,
                    onUpdate: () => {
                        this.set({ counter: Math.ceil(counter.var) });
                    },
                    ease: Circ.easeOut
                });
            }
        },
        computed:{
            counterString: ({ formatter, counter })=> (formatter ? formatter(counter) : counter)
        },
    }
</script>