<div ref:self class="coverimg" style={ calcStyle }>
</div>

<script type="text/javascript">
    import 'components/coverimg-inject.styl'
    export default {
        oncreate(){
            const cs = getComputedStyle(this.refs.self.parentElement)
            if(cs.position == 'static')
                this.refs.self.parentElement.position = 'relative'
        },
        computed:{
            calcStyle:({ img })=>`background-image:url(${ img })`
        }
    }
</script>
