<svelte:window on:resize="onResize()"/>

<div ref:node class="div-contain { classname  || '' }">
    <div ref:content class="div-contain--content" style={ conStyle }>
        <slot/>
    </div>
</div>

<style lang="stylus">

</style>

<script>

    import 'objectFitPolyfill/src/objectFitPolyfill'
    import 'components/div-contain.styl'

    export default {
        props:['aspect'],
        data(){
            return {
                aspect:'auto',
                conStyle:''
            }
        },
        computed:{
        },
        oncreate(){
            trace('div-contain', this)

            if(this.get().aspect == 'auto'){
                this.refs.content.style.width = '1000px'
                this.set({ aspect: this.refs.content.offsetHeight/this.refs.content.offsetWidth })
                this.refs.content.style.width = ''
            }

            this.onResize()
        },
        onstate(){
            this.onResize()
        },
        components:{
        },
        methods:{
            onResize(){
                // return

                var paspect;

                // if(this.get().aspect == 'auto'){
                //     this.refs.content.style.width = '1000px'
                //     paspect = this.refs.content.offsetHeight/this.refs.content.offsetWidth
                //     this.refs.content.style.width = ''
                // }else
                    paspect = +this.get().aspect;

                const naspect = this.refs.node.offsetHeight / this.refs.node.offsetWidth
                trace('Contain.onResize', naspect)
                if(naspect < paspect){
                    const w = naspect/paspect
                    // this.set({ conStyle:`left:${ (1-w)*50 }%;width:${ w*100 }%;height:100%` })
                    this.set({ conStyle:`width:${ w*100 }%;height:100%` })
                }else{
                    const h = paspect/naspect
                    // this.set({ conStyle:`top:${ (1-h)*50 }%;width:100%;height:${ h*100 }%` })
                    this.set({ conStyle:`width:100%;height:${ h*100 }%` })
                }
            }
        }
    }

</script>
