<!-- <svelte:window on:scroll='onScroll()'/> -->

<div ref:self class="emergent { classname }" style="{ calcStyle }">
    <slot/>
</div>

<style lang="stylus">

</style>

<script>
    require('intersection-observer');

    import "components/emergent.styl"
    import { getFullOffsetTop, windowScrollY, windowSize } from '@ips/app/dom-utils'

    export default {
        props:['classname', 'animation'],
        data(){
            return { 
                visible:false,
                sy:0,
                animation:'fadeIn'
            }
        },
        oncreate(){
            // console.log('oncreate', this)

            // this.set({ visible:true })

            let options = {
                root: null,
                // rootMargin: "0px",
                // threshold: .5//buildThresholdList()
            };

            const self = this
            // const self.refs.self

            const handleIntersect = function(inters){
                // console.log('inters', this, self, inters)
                self.set({ visible:inters[0].intersectionRatio > 0 })
            }

            const observer = new IntersectionObserver(handleIntersect, options);
            observer.observe(self.refs.self);            
        },
        computed:{
            // fullClassname:()=>{ return "emergent" },
            calcStyle: ({ sy, visible, animation }) => {
                // console.log('resy', sy, visible)
                // const t = 100 + sy*0.1
                const t = 50 + sy*0.12
                // const t = -50 - sy*0.15

                // return `transform: translate(${ t }px, 0px);`
                // return `visibility:${ visible ? 'visible':'hidden' };`

                let a = ''
                if( animation == 'fadeIn' ||
                    animation == 'fadeInLeft' ||
                    animation == 'fadeInRight' ||
                    animation == 'fadeInTop' ||
                    animation == 'fadeInBottom' ){
                    a = `opacity:${ visible ? '1':'0' };`
                }

                if( animation == 'fadeInLeft'){
                    a += `transform: translate(${visible ? 0 : -100}px, 0px);`
                }else
                if( animation == 'fadeInRight'){
                    a += `transform: translate(${visible ? 0 : 100}px, 0px);`
                }else
                if( animation == 'fadeInTop'){
                    a += `transform: translate(0px, ${visible ? 0 : 100}px);`
                }else
                if( animation == 'fadeInBottom'){
                    a += `transform: translate(0px, ${visible ? 0 : -100}px);`
                }

                return a
            }
        },
        methods:{
            // onScroll:function(p){
            //     const sy = getFullOffsetTop(this.refs.self) - windowScrollY() - windowSize().y
            //     // console.log('onScroll', sy)
            //     this.set({ sy })
            // }
        }
    }

</script>