<figure class="{ fullClassname }" style="{ calcStyle }">
    <img ref:img style="{ calcImgStyle }" src="{ src }" alt=""/>
    { #if caption }
    <figcaption class="fig__caption">{ @html caption }</figcaption>
    { /if }
</figure>

<style lang="stylus">

</style>

<script>

    import { localizeUrl } from '@ips/app/utils'
    import carryUnions from '@ips/typo/carry-unions'
    import "components/fig.styl"
    
    export default {
        // tag: "fig",
        props:[
            "src",
            "classname",
            "caption",
            "position",
            "height",
            "imgheight"
        ],
        data(){
            return {
                realImgHeight: null
            }
        },
        oncreate(){
            this.set({
                           "src": localizeUrl(this.get()["src"],  { path: 'img', usePrefixDir:true })
            })

            this.set({
                           "caption": carryUnions(this.get()["caption"])
            })

            this.refs.img.onload = ()=>{
                this.set({ realImgHeight: this.refs.img.height })
            }
            // trace('me', this)
        },
        computed:{
            fullClassname:({ classname })=> `fig ${ classname||'' }`,
            calcStyle:({ position, height, realImgHeight })=> `${ position ? 'position: relative;' : '' } ${ position ? `height:${ height||realImgHeight };`: '' }`,
            calcImgStyle:({ position, height, imgheight })=>{ 
              let s = ''
              if(height||imgheight){
                s += 'position:absolute;'
                s += `height:${ imgheight };`
              }
              else
                s += 'width:100%;';
                
              if(position == 'left')
                s += 'left:0px;'
              else
              if(position == 'right')
                s += 'right:0px;'
              return s;
            },            
        },
        methods:{
        },
        components:{
        }
    }


</script>