<div class="{ fullClassName } style={ addstyle || '' }">
    <slot/>
</div>

<style lang="stylus">

</style>

<script>

    import 'components/full-screen.styl'

    export default {
        props:['classname', 'addstyle'],
        computed:{
            fullClassName: ({ classname })=> `full-screen ${ classname || '' }`
        }
    }

</script>