<div ref:self class="{ calcClassname }" style="{ addstyle||'' }">
    { #if active||fading }
    <div class="lightbox__content">
        { #if content }
            <svelte:component this={ content }/>
        { /if }
        <slot/>
    </div>
    { /if }
</div>

<script>

    import 'components/lightbox.styl'
    import { register } from '@ips/app/app-registry'

    export default {
        // tag: "column",
        props:[
            "classname", "addstyle", "name"
        ],
        data(){
            return {
                active:false
            }
        },
        oncreate(){
            trace('lightbox', this)
            if(this.get().name)
                register(this.get().name, this)
        },
        computed:{
            calcClassname:({ classname, active })=> `lightbox ${ active ? 'active': '' } ${ classname ||'' }`
        },
        methods:{
            show(content){
                this.set({ content, active:true })
            },
            hide(){
                this.set({ active:false, fading:true })
                setTimeout(()=>{ this.set({ fading:false }) }, 300)
            }
        },
        components:{

        }
    }

</script>