<svelte:head>
    <script type="text/javascript" src="{ lottieLib }" on:load="onBodymovin()"/>
    <!-- <script type="text/javascript" src="/lib/bodymovin.min.js" on:load="onBodymovin()"/> -->
</svelte:head>

<div ref:node class="{ compClassName }">
</div>

<style lang="stylus">

.lottie
    position absolute
    top 0px
    width 100%
    height 100%
    pointer-events none

</style>

<script>

    // import bodymovin from 'lottie-web'
    //// trace('bodymovin', bodymovin)
    //register('bodymovin', bodymovin)

    import { request, register } from '@ips/app/app-registry'
    import { requestUrl } from '@ips/app/resource'

    export default {
        props:['anim', 'speed', 'loop', 'loopstart', 'classname'],
        data(){
            return {
                lottieLib: (app.publicPath + '/lib/lottie.min.js'),
                loop:true,
                speed:1.,
            }
        },
        computed:{
            compClassName: ({ classname })=> `lottie ${ classname||'' }`,
        },
        onstate({ changed, current }){
            // trace('lottie onstate', changed, current)
            if(changed.anim){
                if(this.anim){
                    this.anim.destroy()
                }

                const state = current
                request(['bodymovin']).then(()=>{

                    var params = {
                        container: this.refs.node,
                        renderer: 'svg',
                        loop: state.loop,
                        autoplay: true,
                        // animationData: animationData
                        path: requestUrl(`${ state.anim }.json`, 'lottie', { path:'', usePrefixDir:false })
                    };

                    const anim = bodymovin.loadAnimation(params)
                    this.anim = anim

                    if(typeof state.speed != 'undefined')
                        anim.setSpeed(+state.speed)
                    if(state.loopstart){
                        anim.addEventListener('DOMLoaded', ()=>{
                            const loopStart = state.loopstart||0
                            const loopEnd = state.loopend||anim.getDuration(true)

                            const inSeg = ()=> anim.playSegments([0, loopStart], true)
                            const loopSeg = ()=> anim.playSegments([loopStart, loopEnd], true)

                            inSeg()
                            anim.addEventListener('complete', loopSeg)
                        })
                    }

                })

            }
        },
        oncreate(){
            // trace('lottie created', this)
        },
        ondestroy(){
            if(this.anim){
                this.anim.destroy()
            }
        },
        helpers:{
        },
        components:{
        },
        methods:{
            onBodymovin(){
                register('bodymovin', bodymovin)
                // trace('bodymovin loaded')
            }
        }
    }

</script>
