<div class="revealing-text { class }">
    { #if mode == 'dynamic' }
        { #each els as e, i }
            <span style={ elDynStyle(e, i, progress, els) }>{ e }</span>
        { /each }
    { :else }
        { #each els as e, i }
            <span style={ elStyle(e, i, animTime, showTime, els) }>{@html e == ' ' ? '&nbsp;' : e }</span>{ split == 'letters' ? '' : ' ' }
        { /each }
    { /if }
</div>

<script type="text/javascript">
    import 'components/revealing-text.styl'

    //import { register } from '@ips/app/app'

    const Animations = {
        fadeIn:(e, i, animTime, showTime, els) => `animation: fadeIn ${ animTime||1 }s ${ showTime*i/els.length }s linear both;`,
        slideUp:(e, i, animTime, showTime, els) => `animation: slideUp ${ animTime||1 }s ${ showTime*i/els.length }s ease-out both;`,
        slideDownEmp:(e, i, animTime, showTime, els) => `animation: slideDownEmp ${ animTime||1 }s ${ showTime*i/els.length }s linear both;`,
        slideFlip:(e, i, animTime, showTime, els) => `animation: ${ (i%2) ? 'slideUp' : 'slideDown' } ${ animTime||1 }s ${ showTime*i/els.length }s linear both;`,
        rollFlip:(e, i, animTime, showTime, els) => `animation: ${ (i%2) ? 'rollInLeft' : 'rollInRight' } ${ animTime||1 }s ${ showTime*i/els.length }s linear both;`,
    }

    export default {
        props:['name', 'class', 'text', 'split', 'anim', 'speed', 'mode', 'animTime', 'showTime'],
        data(){
            return {
                text:'',
                mode:'css', // [ css | dynamic ]
                split:'letters', // [ letters | words | lines ]
                anim:'fadeIn', // [ fadeIn | slideUp | slideFlip | rollFlip ]
                animTime:1,
                showTime:2,
                speed:1,
                progress:0,
                elStyle:()=>{}
            }
        },
        async onstate({ changed, current }){
            const s = current
            if(changed.text){
                let els = []
                if(s.split == 'lines'){
                    els = _.map(s.text.split('\n'), p => p + '\n')
                }else
                if(s.split == 'words'){
                    els = s.text.split(' ')//_.map(, p => p + ' ')
                }else{
                    els = s.text
                }

                this.set({ els })
            }

            if(changed.anim){
                this.set({ elStyle: Animations[s.anim]||s.anim })
            }
        },
        async oncreate(){
            trace('revealing-text', this)
            // const Compo = await request(this.get().name)
            // new Compo(this.refs.self)

            if(this.get().mode == 'dynamic')
                this.initLoop()

            this.on('replay', ()=>{
                this.set({ elStyle:()=>{} })
                setTimeout(()=>{
                    this.set({ elStyle: Animations[this.get().anim]||this.get().anim })
                }, 100)
            })
        },
        components:{
        },
        helpers:{
            elDynStyle(e, i, progress, els){
                // trace(e, i, progress)
                const rp = progress - Math.floor(progress)
                return `visibility:${ i/els.length > rp ? 'hidden': 'visible' };`
            }
        },
        methods:{
            initLoop(){
                let time = 0;
                const updatePC = ()=>{
                    // return
                    if(this.weredone)
                        return

                    const s = this.get()

                    let newtime = Date.now()/1000.
                    const dt = Math.min(newtime - time, 1);

                    this.set({ progress: s.progress + s.speed * dt });

                    time = newtime;

                    requestAnimationFrame(updatePC)
                }
                updatePC()                
            },
            elStyle2(e, i, animTime, showTime, els){
                // trace(e, i, progress)
                return `animation: fadeIn ${ animTime||1 }s ${ showTime*i/els.length }s linear both;`
            }

        }
    }
</script>

