<svelte:window on:resize='onResize()'/>

<div ref:node class="{ 'scroll-tracker ' + (classname||'') }">
    <slot/>
</div>

<style lang="stylus">
</style>

<script>

    import { getFullOffsetTop, windowSize, windowScrollY, parseOffset } from '@ips/app/dom-utils'
    import { register } from '@ips/app/app-registry'
    import _ from 'lodash'

    export default {
        props:["name", "throttle", "boxedge", "classname", "padding"],
        oncreate(){
            if(this.get().name)
                register(this.get().name, this)

            this.calcPadding()
            this.calcOffset()

            // trace('scroll-tracker', this)

            const upda = ()=>{
                // trace('composter',  document.documentElement.scrollTop, document.body.scrollTop, window.pageYOffset)

                const y = windowScrollY()
                const ws = windowSize()

                const node = this.refs.node
                const ofs = y + this._offset - (getFullOffsetTop(node) + this._paddingTop)
                const height = Math.max(1, node.offsetHeight - (this._paddingTop + this._paddingBottom))
                const newPos = Math.min(1, Math.max(0, ofs/height))
                if(this.pos != newPos){
                    this.pos = newPos;
                    // trace(this.pos)
                    this.fire('update', { pos: this.pos, ofs:Math.min(height, Math.max(0, ofs)) })
                }
            }

            const throttle = this.get().throttle;
            this.composter = (+throttle) === 0 ? upda: _.throttle(upda, _.isUndefined(throttle) ? 100 : throttle)

            if(Modernizr['browser-firefox'] || Modernizr['browser-safari']){
                // trace('gazapulatri')
                var refreshRate = 30;
                this.updateInterval = setInterval(this.composter, 1000 / refreshRate);
            }else{
                window.addEventListener('scroll', this.composter)
            }
        },
        ondestroy(){
            if(Modernizr['browser-firefox'] || Modernizr['browser-safari']){
                removeInterval(this.updateInterval)
            }else{
                window.removeEventListener('scroll', this.composter)
            }
        },
        onstate({ changed, current }){
            if( changed.boxedge )
                this.calcOffset()
        },
        computed:{
        },
        methods:{
            onScroll(){ this.composter() },

            calcPadding(){
                // TODO: parse them separately
                this._paddingTop = this.get().padding ? parseOffset( this.get().padding, this.refs.node.offsetHeight ) : 0
                this._paddingBottom = this._paddingTop;
            },

            calcOffset(){

                const ws = windowSize()
                const node = this.refs.node
                this._offset = parseOffset(this.get().boxedge, ws.y)// - parseOffset(this.get().edge, node.offsetHeight)

            },
            onResize(){
                this.calcPadding()
                this.calcOffset()
            }
        }
    }

</script>