{ #if visible }
    <div transition:fade ref:self class="show-hide { classname||'' }">
        <slot/>
    </div>
{ /if }

<script>
    import { register, request } from '@ips/app/app-registry'

    import fade from 'svelte-transitions-fade'

    export default{
        props:['name', 'classname', 'trigger'],
        data(){
            return { 
                visible:false,
            }
        },
        async oncreate(){

            //trace('show-hide', this)

            if(this.get().name)
                register(this.get().name, this)

            if(this.get().trigger){
                const res = await request([this.get().trigger])
                const trigger = res[this.get().trigger]
                this.set({ visible:trigger.get().visible })
                trigger.on('visible', ()=>this.set({ visible:true }))
                trigger.on('invisible', ()=>this.set({ visible:false }))
            }
        
        },
        computed:{
        },
        methods:{
        },
        transitions:{
            fade
        }
    }
</script>