ScreenLarge = 1600px
ScreenRegular = 1280px
ScreenSmall = 1024px
ScreenMobile = 768px

BlockSizeL = 104px
BlockSizeR = 80px
BlockSizeS = 64px

.slice {
  display: flex;
  width: 100%;
  flex-direction: column;
  pointer-events none
  max-width 100vw
  overflow-x hidden
}
.slice__sec {
  display: flex;
  position: relative;
  flex-flow: row wrap;
  width: 960px;
  pointer-events none
}
.slice__sec.align-start {
  align-self: flex-start;
}
.slice__sec.align-center {
  align-self: center;
}
.slice__sec.align-end {
  align-self: flex-end;
}

.slice__sec > *
  pointer-events auto

.slice__sec
  &.table
    display: table;

  &.width100
    width 100%

  for n in (0..12)
    &.{'width'+n}
      width BlockSizeR*n

.screen-size-large
  .slice__sec
    for n in (0..12)
      &.{'width'+n}
        width BlockSizeL*n

.screen-size-regular
  .slice__sec
    for n in (0..12)
      &.{'width'+n}
        width BlockSizeR*n

.screen-size-small
  .slice__sec
    for n in (0..12)
      &.{'width'+n}
        width BlockSizeS*n

.screen-size-mobile
  .slice__sec
    for n in (0..12)
      &.{'width'+n}
        width 100%

/*.width0 {
  width: 0px;
}
.width1 {
  width: 104px;
}
.width2 {
  width: 208px;
}
.width3 {
  width: 312px;
}
.width4 {
  width: 416px;
}
.width5 {
  width: 520px;
}
.width6 {
  width: 624px;
}
.width7 {
  width: 728px;
}
.width8 {
  width: 832px;
}
.width9 {
  width: 936px;
}
.width10 {
  width: 1040px;
}
.width11 {
  width: 1144px;
}
.width12 {
  width: 1248px;
}
.width100 {
  width: 100%;
}
*/

// .slice__sec
//      for n in (0..12)
//          &.{'width'+n}
//              width BlockSizeL*n

//      &.width100
//          width 100%

//      @media screen and (max-width: ScreenRegular)
//          for n in (0..12)
//              &.{'width'+n}
//                  width BlockSizeR*n

//      @media screen and (max-width: ScreenSmall)
//          for n in (0..12)
//              &.{'width'+n}
//                  width BlockSizeS*n

//      @media screen and (max-width: ScreenMobile)
//          for n in (0..12)
//              &.{'width'+n}
//                  width 100%

//      &.table
//          display: table;
