.scroll-fixed
    position -webkit-sticky
    position sticky
    top 0px
    // &:before
    // &:after
    //     content: " ";
    //     display: table;
    //     clear: both;

// .sticky:before,
// .sticky:after {
//     content: '';
//     display: table;
// }    