<!-- <svelte:window on:scroll='onScroll()'/> -->

<div ref:node class="{ fullClassName }" style="{ addstyle||'' }">
    <slot/>
</div>

<script>

    import 'components/sticky.styl'

    import Stickyfill from 'stickyfilljs'
    window.Stickyfill = Stickyfill

    // import { getFullOffsetTop, getFullOffsetLeft, windowSize, windowScrollY } from 'dom-utils'
    import { register } from '@ips/app/app-registry'

    export default {
        props:["name", "classname", "addstyle", "freesize"],
        data(){
            return {
                fixMode:''
            }
        },
        computed:{
            fullClassName: ({ classname, fixMode })=> `scroll-fixed ${ classname||'' } ${ fixMode }`
        },
        oncreate(){
            Stickyfill.add(this.refs.node)

            if(this.get().name)
                register(this.get().name, this)

            // let prevy = 0;
            // this.updateScroll = (force)=>{
            //     const y = windowScrollY()
            //     if(y == prevy && !force) return;
            //     prevy = y;

            //     const ws = windowSize()

            //     const node = this.refs.node
            //     const box = node.parentNode
            //     const ofs = y - getFullOffsetTop(box)
            //     const dsize = box.offsetHeight - node.offsetHeight

            //     if( ofs < 0) {
            //         node.style.position = ''
            //         node.style.transform = ''
            //         node.style.top = ''
            //         node.style.left = ''
            //         node.style.width = ''

            //         this.set({ fixMode: '' })
            //     }
            //     else 
            //     if( ofs < dsize){
            //         node.style.left = `${ getFullOffsetLeft(box) }px` //'calc(50% - 624px)';

            //         if(!this.get().freesize)
            //             node.style.width = `${ node.offsetWidth }px` //'calc(50% - 624px)';

            //         node.style.transform = ''
            //         node.style.position = 'fixed'
            //         node.style.top = '0px' //`${ Math.abs(y - ofs)}px`

            //         this.set({ fixMode: 'fix' })
            //     }
            //     else{
            //         node.style.position = ''
            //         node.style.transform = `translateY(${ dsize }px)`
            //         node.style.top = ''
            //         node.style.left = ''
            //         node.style.width = ''

            //         this.set({ fixMode: '' })
            //     }
            // }

            // const updateAF = ()=>{
            //     if(this.updateScroll){
            //         this.updateScroll()
            //         requestAnimationFrame(updateAF)
            //     }
            // }
            // updateAF()

            // const tikker = setInterval(()=>{
            //     if(this.updateScroll)
            //         this.updateScroll()
            // }, 30)

        },
        ondestroy(){
            // this.updateScroll = null;
        },
        methods:{
            onScroll(){ 
                // if(this.updateScroll)
                //     this.updateScroll()
            }
        }
    }

</script>