<div class="videon { classname||'' }">
    <video class="video-js" muted autoplay ref:looper src={ src + '.mp4' } poster={ src + '.jpg' }></video>
</div>

<style lang="stylus">

</style>

<script>
    import 'components/video.styl'

    import videojs from 'video.js'
    import 'video.js/dist/video-js.css'
    import { requestUrl } from '@ips/app/resource.js'

    const reloadPlayer = (player, start)=>{
        return new Promise((resolve, reject)=>{
            player.pause()
            player.currentTime(0);
            player.load();
            player.one('canplay', 
                start ? ()=>{
                        player.play()
                        resolve()
                    } : 
                    resolve
            )
            // if(start)
            //     player.play()
        })
    }

    const startPlayer = (player)=>{
        player.play()
    }

    const srcUrl = v => v ? requestUrl(v + '.mp4', 'video') : undefined

    export default {
        props:['src', 'classname', 'align', 'scale'],
        data(){
            return {
                looperCfg:{
                    controls: false,
                    autoplay: true,
                    preload: 'auto',
                    height: '100%',
                    loop: true,
                    fluid: true,
                    children: [],
                },
                curProgress:0,
            }
        },
        computed:{
            calcStyle:({ align, scale })=>`${ 'undefined' == typeof scale ? '' : `transform:scale(${ scale });` }`
        },
        oncreate(){
            if(app)
                app.videojs = videojs;

            // trace('videon created', this)

            this.looper = videojs(this.refs.looper, this.get().looperCfg)
            this.looper.el_.style.cssText = this.get().calcStyle

            this.setup()
        },
        components:{
        },
        methods:{
            setup(instant = false){
                this.looper.src(srcUrl(this.get().src))
                reloadPlayer(this.looper, true)
            },
        }
    }

</script>
