<svelte:window on:resize="onResize()"/>

<div ref:self class="vistracker-inject { visible ? 'visible' : '' }">
    <div ref:wrap class="vistracker--wrap">
        <div ref:core class="vistracker--core"/>
    </div>
</div>

<script>
    require('intersection-observer');

    import { register } from '@ips/app/app-registry'
    import { windowSize } from '@ips/app/dom-utils'

    import trackit from 'components/vistracker-utils'
    trace('imported trackit', trackit)

    import 'components/vistracker.styl'

    export default{
        props:['name', 'top', 'bottom'],
        data(){
            return { 
                visible:false,
            }
        },
        oncreate(){
            trace('inject', this)

            if(this.get().name)
                register(this.get().name, this)

            this.init()
         
        },
        computed:{
        },
        methods:{
            init(){
                const pstyle = window.getComputedStyle(this.refs.self.parentElement)
                // trace('pstyle.position', pstyle.position)
                // if(pstyle.position != 'relative' && pstyle.position != 'fixed' && pstyle.position != 'absolute')
                if(pstyle.position == 'static')
                    this.refs.self.parentElement.style.position = 'relative'

                const ws = windowSize()

                this.refs.self.style.padding = `${ (this.get().top||0)/100 * ws.y }px 0px ${ (this.get().bottom||0)/100 * ws.y }px 0px`
                this.trackerInstance = trackit(this.refs.core, ()=>{ this.set({ visible:true }); this.fire('visible')}, ()=>{ this.set({ visible:false }); this.fire('invisible') })

            },
            onResize:_.throttle(function(){
                if(this.trackerInstance){
                    this.trackerInstance.destroy()
                    this.trackerInstance = null
                }

                this.init()

            }, 500)
        }
    }
</script>