.wrapper__container {
  display: flex;
  flex-flow: column wrap;
}
.item_action {
  position: relative;
  min-height: 100px;
  transition: 0.3s;
  border: 1px solid transpaurent;
}
.item_action .el-button {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.item_action__delete:hover {
  background: rgba(231,76,60,0.5);
}
.item_action__sort:hover {
  background: rgba(46,204,113,0.5);
}
.components-sort .sortable .sortable-item {
  display: block;
  border: 2px dashed rgba(128,128,128,0.5);
  margin-bottom: 2px;
}

