<!-- this binds `sy` to the current value of `window.scrollY` -->
<!-- <svelte:window on:scroll='onScroll()'/> -->

<div class='zoomfx { round ? "round" : "" }'>
    { #each madras as c }
        <div style="{ zStyle(c, img, count, zoom, zoomscale, x, y, fullback, staticback, warp) }" />
    { /each }
</div>

<!-- <div class='text'>
    <small style='
        transform: translate(0,{{-sy * 1.5}}px);
        opacity: {{1 - Math.max( 0, sy / 80 )}}
    '>(scroll down)</small>
    <span>parallax has never been this easy</span>
</div>
 -->

<style lang='stylus'>
    
</style>

<script type="text/javascript">

    import 'components/zoomfx.styl'

    import { windowScrollY } from '@ips/app/dom-utils'

    export default {
        props:["img", "count", "zoom", "x", "y", "fullback", "staticback", "round", "zoomscale", "warp"],
        oncreate(){
            trace('zoom', this)
        },
        data(){
            return {
                zoomscale:1.
            }
        },
        computed:{
            madras:({ count })=> [...Array(count).keys()]
        },
        methods:{
            // onScroll:function(p){
            //     // console.log('onScroll', this, p)
            //     this.set({ sy:windowScrollY() })
            // }
        },
        helpers:{
            // zStyle:(c, img)=>`background-image:url(${ img });width:${ 500/c }px;height:${ 500/c }px;background-size:${ 1000/(5+c) }%`
            zStyle:(c, img, count, zoom, zoomscale, x, y, fullback, staticback, warp)=>{
                const s = ((count+1-c)/(count+1));
                const sc = staticback?c:(c+1)

                trace('zs', zoomscale)

                return `background-image:url(${ img });width:${ 100*s }%;height:${ 100*s }%;background-size:${ 100/s * zoomscale*Math.pow(zoom, sc) }%;transform: translate(${ -(x*100)|0 }%, ${ -(y*100)|0 }%) rotate(${ warp*sc }deg); ${ (!c && fullback) ? 'border-radius:0px;':'' }`
            }
        },
        components:{
        }
    }
</script>
