
.zoomfx
    position relative
    /*padding-bottom 100%*/
    min-height 500px

    > *
        background-position center
        background-size auto
        position absolute
        left 50%
        top 50%
        transform translate(-50%, -50%)

    &.round
        > *
            border-radius 50%
