<div class='zoomfx-demo'>
    <div class="zfx">
        <Zoomfx img="https://placeimg.com/1024/1024" count={ count } zoom={ zoom } zoomscale={ zoomscale } x={ x } y={ y } fullback={ fullback } staticback={ staticback } round={ round } warp={ warp }/>
    </div>
    <div class="optus">
        <div>
            <label>Count</label><span>{ count }</span>
            <Slider value=50 on:input="onCount(event)"/>
        </div>
        <div>
            <label>Zoom</label><span>{ zoom }</span>
            <Slider value=25 on:input="onZoom(event)"/>
        </div>
        <div>
            <label>Base scale</label><span>{ zoomscale }</span>
            <Slider value=50 on:input="onBasescale(event)"/>
        </div>
        <div>
            <label>Warp</label><span>{ warp }</span>
            <Slider value=50 on:input="onWarp(event)"/>
        </div>
        <div>
            <label>x</label><span>{ x }</span>
            <Slider value=50 on:input="onX(event)"/>
        </div>
        <div>
            <label>y</label><span>{ y }</span>
            <Slider value=50 on:input="onY(event)"/>
        </div>
        <div>
            <Checkbox label="Static base" checked=true on:change="onStaticback(event)"/>
        </div>
        <div>
            <Checkbox label="Full frame" checked=true on:change="onFullback(event)"/>
        </div>
        <div>
            <Checkbox label="Circular" checked=true on:change="onRound(event)"/>
        </div>
    </div>
</div>

<style lang='stylus'>

.zfx
    width 500px
    height 500px

.optus
    max-width 500px
    margin-left 32px

</style>

<script type="text/javascript">

    import 'vendor/svelte-ui-slider/slider.css'
    import Slider from 'vendor/svelte-ui-slider'
    trace('Slider', Slider)

    import 'vendor/icon.css'
    import 'vendor/svelte-ui-checkbox/checkbox.css'
    import Checkbox from 'vendor/svelte-ui-checkbox'
    trace('Checkbox', Checkbox)

    import Zoomfx from 'components/zoomfx'
    trace('Zoomfx', Zoomfx)

    export default {
        oncreate(){
            trace('zoomfx-demo', this)
        },
        data(){
            return {
                count:5,
                zoom:1,
                zoomscale:1,
                fullback:true,
                staticback:true,
                x:0.5,
                y:0.5
            }
        },
        methods:{
            onCount(v){ 
                const c = (1+v*.1)|0
                this.set({ count:c }) 
            },
            onZoom(v){ 
                const z = .5+v*0.01*2
                this.set({ zoom:z }) 
            },
            onX(v){ 
                const x = (v*0.01)
                this.set({ x }) 
            },
            onY(v){ 
                const y = (v*0.01)
                this.set({ y }) 
            },
            onWarp(v){ 
                const warp = v-50;
                this.set({ warp }) 
            },
            onFullback(v){
                this.set({ fullback:v })
            },
            onStaticback(v){
                this.set({ staticback:v })
            },
            onBasescale(v){
                const zoomscale = .5+v*0.01*2
                this.set({ zoomscale })
            },
            onRound(v){
                this.set({ round:v })
            },
        },
        components:{
            Zoomfx,
            Slider,
            Checkbox
        }
    }
</script>
