<div id="ips-app" style="width:400px;height:800px;" >
  <iframe 
     id="ips-app-frame" 
     frameborder="0"
     marginheight="0"
     marginwidth="0"
     src="https://readymag.com/u78509512/1174039/"
  >
  </iframe>
</div>

<script>

  function windowSize(){
    var w = window,
    d = document,
    e = d.documentElement,
    g = d.getElementsByTagName('body')[0],
    x = w.innerWidth || e.clientWidth || g.clientWidth,
    y = w.innerHeight|| e.clientHeight|| g.clientHeight;
    return { x, y };
  };

  function updateSize(){
    var ws = windowSize();
    var appcon = document.getElementById("ips-app");
    var frame = document.getElementById("ips-app-frame");
    //console.log('setting size', appcon, ws)
    var h = ws.y-38 +'px'
    var w = ws.x + 'px'
    appcon.style.width = w
    appcon.style.height = h
    frame.style.width = w
    frame.style.height = h
  }

  window.addEventListener('load', updateSize)
  window.addEventListener('resize', updateSize)

</script>