#atom20{
  font-family: 'Raleway', Arial, sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  max-width: 1440px;
  width: 100%;
  background-color: white;
  position: relative;
  overflow-x: hidden;
}

#atom20 *{
  box-sizing: border-box;
}


  .atom-container{
    background-color: white;
    color: #252525;
    transition: all 1.5s;
  }
  .atom-container-black{
    background-color: black;
    color: #fff;

    & .atom-line{
      background-color: white;
    }
  }


  .atom-section{
    /*min-height: 100vh;*/
    box-sizing: border-box;
  }

    .atom-row{
      display: flex;
      flex-direction: column;
      @media(--md){
        flex-direction: row;
      }
    }

      .atom-col[data-id="0-0"]{
        width: 100%;
        @media(--md){
          width: 50%;
        }
      }
      .atom-col[data-id="0-1"]{
        display: none;
        @media(--md){
          display: block;
        }
      }


    .atom-row[data-id="3-0"]{
      justify-content: space-between;
    }
      .atom-col{
        width: 100%;
        @media(--md){
          width: 50%;
        }

      }
      .atom-col[data-id="3-0"]{
        width: auto;
      }
      .atom-col[data-id="3-1"]{
        width: auto;
      }


    .atom-row[data-id="4-0"]{
      flex-direction: column-reverse;
      @media(--md){
        flex-direction: row;
      }
    }


  .atom-section[data-id="footer"]{
    background-color: black;
  }

 

  .atom-section[data-id="0"]{
    width: 100%;
    padding: 40px 20px 40px 20px;
    @media(--md){
      padding: 60px 60px 160px 20px;
    }
  }
  .atom-section[data-id="1"]{
    width: 100%;
    padding: 0px 20px 0px 20px;
    @media(--md){
      padding: 0px 20px 0px 20px;
    }
  }
  .atom-section[data-id="2"]{
    width: 100%;
    padding: 0px 20px 80px 20px;
    @media(--md){
      padding: 60px 20px 200px 20px;
    }
  }
  .atom-section[data-id="3"]{
    width: 100%;
    padding: 0px 20px 120px 20px;
    @media(--md){
      padding: 0px 20px 160px 20px;
    }
  }
  .atom-section[data-id="4"]{
    width: 100%;
    padding: 0px 20px 120px 20px;
    @media(--md){
      padding: 0px 20px 160px 20px;
    }
  }
  .atom-section[data-id="5"]{
    width: 100%;
    padding: 0px 20px 120px 20px;
    @media(--md){
      padding: 0px 20px 80px 20px;
    }
  }
  .atom-section[data-id="6"]{
    width: 100%;
    padding: 0px 20px 120px 20px;
    @media(--md){
      padding: 80px 20px 160px 20px;
    }
  }
  .atom-section[data-id="7"]{
    width: 100%;
    padding: 0px 20px 60px 20px;
    @media(--md){
      padding: 0px 20px 120px 20px;
    }    
  }


    .atom-text{
      margin-bottom: 40px;
      font-size: 18px;
      line-height: 25px;

      @media(--md){
        font-size: 26px;
        line-height: 36px;
      }

    }
    .atom-text[data-id="1-0"]{
      @media(--md){
        margin-right: 40px;
      }
    }
    .atom-text[data-id="2-0"]{
      margin-top: 60px;
      @media(--md){
        margin-top: 0px;
        margin-right: 90px;
      }
    }    
    .atom-text[data-id="3-0"]{
      max-width: 600px;
    }
    .atom-text[data-id="4-0"]{
      @media(--md){
        margin-right: 90px;
      }
    }    
    .atom-text[data-id="5-0"]{
      @media(--md){
        margin-right: 90px;
      }
    }    
    .atom-text[data-id="7-0"]{
      @media(--md){
        margin-right: 90px;
      }
    } 


    .atom-text-m{
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 80px;
      @media(--md){
        display: none;
      }
    }
    .atom-text-m[data-id="0-2"]{
      margin-bottom: 20px;
    }

    .atom-line{
      width: 100%;
      height: 1px;
      background-color: #252525;
      margin-bottom: 40px;
      opacity: 0;
    }

    .atom-big-img{
      
      margin-bottom:20px;
      
      width: 100vw;
      margin-left: -20px;

      @media(--md){
        width:100%;
        margin-left: 0px;
      }
    }


    .atom-big-sheme{
      width: 100%;
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);
      width: 720px;
      @media(--md){
        width: 1440px;
      }

    }
    .atom-big-sheme[data-id="2-0"]{
      margin-bottom: 120px;
      @media(--md){
        margin-bottom: 160px; 
      }
    }
    .atom-big-sheme[data-id="3-0"]{
      margin-top: 40px; 
      @media(--md){
        margin-top: 100px; 
      }
    }
    .atom-big-sheme[data-id="5-0"]{
      @media(--md){
        margin-top: 100px; 
      }
    }

    .atom-small-img{
      position: relative;
    }
    .atom-small-image-container{
      position: relative;
    }
    .atom-small-image-container[data-id="0-0"]{
      margin-bottom: 20px;
      max-width: 217px;
      margin-top: 20px;
    }
    .atom-small-image-container[data-id="0-1"]{
      margin-bottom: 20px;
      max-width: 453px;
      width: calc(100% + 20px);
      left: 0px;
      @media(--md){
        width: 100%;
        left: auto;
      }
    }
    .atom-small-image-container[data-id="2-0"]{
      max-width: 514px;
      width: calc(100% + 20px);
      left: 0px;
      margin-top:20px;
      margin-bottom:-20px;
      @media(--md){
        margin-top:0px;
        margin-bottom:0px;
        width: 100%;
        left: auto;
      }      
    }

    .atom-small-image-container[data-id="3-0"]{
      max-width: 450px;
      margin-bottom: 20px;
      margin-top: 40px;
      width: calc(100% + 20px);
      left: 0px;
      @media(--md){
        width: 100%;
        left: auto;
      }
    }

    .atom-small-image-container[data-id="4-0"]{
      
      margin-bottom: 20px;
      margin-top: 40px;
      width: calc(100% + 20px);
      left: 0px;
      @media(--md){
        max-width: 335px;
        width: 100%;
        left: auto;
      }      
    }
    .atom-small-image-container[data-id="6-0"]{
      max-width: 450px;
      margin-bottom: 20px;
      margin-top: 40px;
      width: calc(100% + 20px);
      right: 0px;
      @media(--md){
        width: 100%;
        right: 0;
      }      
    }

  .atom-small-image-container[data-id="7-0"] {
      max-width: 217px;
      margin-bottom: 20px;
      margin-top: 40px;
      width: calc(100% + 20px);
      left: 0px;
      @media(--md){
        width: 100%;
      }
  }

    .atom-small-image-container::before{
      content: "";
      position: absolute;
      top: -20px;
      left: 30px;
      width: 100%;
      height: 100%;
      border: 1px solid white;
      background: transparent;
      /*background: var(--gradient);*/
    }
    .atom-small-image-container[data-id="0-0"]::before{
      border: 1px solid black;
    }
    .atom-small-image-container[data-id="0-1"]::before{
      border: 1px solid black;
      top: -20px;
      left: -19px;
      @media(--md){
        top: -20px;
        left: 30px;
      }
    }

    .atom-small-image-container[data-id="2-0"]::before{
      top: -20px;
      left: -19px;
      @media(--md){
        top: 40px;
        left: 60px;
      }
    }
    .atom-small-image-container[data-id="3-0"]::before{
      top: -20px;
      left: -19px;
      @media(--md){
        top: -40px;
        left: -60px;
      }
    }
    .atom-small-image-container[data-id="4-0"]::before{
      top: -20px;
      left: -19px;
      @media(--md){
        top: -40px;
        left: 60px;
      }      
    }
    .atom-small-image-container[data-id="6-0"]::before{
      top: -20px;
      left: -19px;
      @media(--md){
        top: -40px;
        left: -60px;
      }
    }
    .atom-small-image-container[data-id="6-0"]::before{
      border: 1px solid black;
    }
    .atom-small-image-container[data-id="7-0"]::before{
      border: 1px solid black;
      top: -20px;
      left: 40px;
    }


    .atom-small-img[data-id="0-0"]{
      width: 100%;
    }
    .atom-small-img[data-id="0-1"]{
      width: 100%;
    }
    .atom-small-img[data-id="2-0"]{
      width: 100%;
    }
    .atom-small-img[data-id="3-0"]{
      width: 100%;
    }
    .atom-small-img[data-id="4-0"]{
      width: 100%;
    }
    .atom-small-img[data-id="6-0"]{
      width: 100%;
    }

    .atom-alt{
      font-family: "RalewayMedium";
      font-size: 14px;
      line-height: 19px;
      max-width: 336px;
      white-space:pre-wrap;
      @media(--md){
        font-size: 16px;
        line-height: 21.6px;
        margin-left: 0px;
        margin-right: 0px;
      }
    }
    .atom-alt[data-id="0-0"]{
      margin-bottom: 40px;
      @media(--md){
        margin-bottom: 78px;
      }
    }
    .atom-alt[data-id="0-1"]{
      margin-bottom: 40px;
      @media(--md){
        margin-bottom: 0px;
      }
    }

    .atom-alt[data-id="1-0"]{
      margin-bottom:40px;
      @media(--md){
        margin-bottom:0px;
      }
    }
    .atom-alt[data-id="3-0"]{
      margin-bottom: 40px;
      @media(--md){
        margin-bottom: 86px;
      }
    }
    .atom-alt[data-id="4-0"]{
      margin-bottom: 40px;
      @media(--md){
        margin-bottom: 100px;
      }
    }
    .atom-alt[data-id="5-0"]{
      margin-bottom: 40px;
      max-width: 436px;
      @media(--md){
        margin-bottom: 0px;
      }
    }
    .atom-alt[data-id="6-0"]{
      margin-bottom: 40px;
      @media(--md){
        margin-bottom: 86px;
      }
    }    
    .atom-alt[data-id="7-0"]{
      margin-bottom: 40px;
      @media(--md){
        margin-bottom: 0px;
      }
    }
    .atom-alt[data-id="7-1"]{
      margin-bottom: 40px;
      @media(--md){
        margin-bottom: 120px;
      }
    }

    .atom-alt[data-id="7-2"]{
      margin-bottom: 40px;
      @media(--md){
        margin-bottom: 0px;
      }
    }