colorBlue=#3E6899
colorWhite=#FFFDF2

.text_blue
    color colorBlue
.text_white
    color colorWhite
.text_big
    font-size 300%

.backblue
    background-color colorBlue
.backwhite
    background-color colorWhite

.blue-white
    // position  
    &:before
    &:after
        content ''
        position absolute
        top 0
        bottom 0
        width 50%
    &:before
        left 0
        background: linear-gradient(-30deg, colorWhite 0%,colorWhite 50%, colorBlue 50%);
    &:after
        left 50%
        background: linear-gradient(30deg, colorWhite 0%,colorWhite 50%, colorBlue 50%);

    // background-color colorBlue

.halftones > div
    mix-blend-mode multiply