.atom-about{
	position: absolute;
	z-index: 10;
	width: 100%;
	max-width: 1440px;
	min-height: 100vh;
	background-color: rgba(0,0,0,0.9);
	color: white;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding:20px;
	top: 0;
	left: 0;
	visibility: hidden;
	display: none;

	@media(--md){
		padding:40px;
	}
}

.atom-about-visible{
	visibility: visible;
	display: flex;
}


	.atom-about-cross{
		position: absolute;
		top: 20px;
		right:20px;
		cursor: pointer;
		width:20px;
		height:20px;
		@media(--md){
			width:32px;
			height:32px;
			top: 40px;
			right:40px;
		}

		& svg{
			width: 100%;
		}
	}


.atom-about-name{
	font-family: 'RalewaySemiBold';
	font-size: 16px;
	line-height: 19px;
	margin-top: 60px;
	margin-bottom: 20px;

	@media(--md){
		margin-top: 0px;
		margin-bottom: 100px;
	}
}

.atom-about-header{
	font-family: 'RalewayBold';
	font-size: 32px;
	line-height: 32px;
	margin-bottom: 60px;
	-webkit-text-stroke: 1px white;
	color: rgba(0,0,0,0);

	@media(--md){
		font-size: 126px;
		line-height: 126px;
		margin-bottom: 100px;
		-webkit-text-stroke: 2px white;
	}
}

.atom-text-block{
	width: 100%;
	max-width: 600px;
}

.atom-about-text{
	font-family: 'RalewayMedium';
	font-size: 14px;
	line-height: 19px;
	margin-bottom: 20px;

	@media(--md){
		font-size: 16px;
		line-height: 21.5px;
		margin-bottom: 40px;
	}
}