
.sf-checkbox {
  display: flex;
  align-items: center;
}

.sf-checkbox:hover .fui-checkbox-checked {
  display: block;
}

.sf-checkbox:hover .fui-checkbox-unchecked {
  display: none;
}

.sf-checkbox--label {
  margin-left: 12px;
  font-size: 14px;
}

.sf-checkbox--icons {
  display: block;
}

.sf-checkbox--icons i {
    width: 20px;
    height: 20px;
    color: #BDC3C7;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    background: transparent;
    transition: color .25s;
    cursor: pointer;
}

.sf-checkbox--icons i.fui-checkbox-checked {
  display: none;
}

.sf-checkbox--icons i.fui-checkbox-unchecked {
  display: block;
}

.sf-checkbox--icons.active i.fui-checkbox-checked {
  color: #1ABC9C;
  display: block;
}

.sf-checkbox--icons.active i.fui-checkbox-unchecked {
  display: none;
}

.sf-checkbox--icons.active:hover i.fui-checkbox-checked {
  display: block;
}

.sf-checkbox--icons.active:hover i.fui-checkbox-unchecked {
  display: none;
}

.sf-checkbox__disabled .sf-checkbox--icons i.fui-checkbox-checked {
  display: none;
}

.sf-checkbox__disabled .sf-checkbox--icons i.fui-checkbox-unchecked {
  color: #E6E8EA;
  display: block;
}

.sf-checkbox__disabled .sf-checkbox--icons.active i.fui-checkbox-checked {
  color: #E6E8EA;
  display: block;
}

.sf-checkbox__disabled .sf-checkbox--icons.active i.fui-checkbox-unchecked {
  color: #E6E8EA;
  display: none;
}

.sf-checkbox__disabled .sf-checkbox--icons:hover i {
  cursor: not-allowed;
}