<label 
  class="sf-checkbox { disabled ? 'sf-checkbox__disabled' : '' }" 
  on:click="handleSwitch()"
>
  <span class="sf-checkbox--icons { hover ? 'hover' : '' } { checked ? 'active' : '' }">
    <i class="fui-checkbox-checked"></i>
    <i class="fui-checkbox-unchecked"></i>
  </span>
  <span class="sf-checkbox--label">{ label }</span>
</label>

<script>
  export default {
    data () {
      return {
        checked: false
      }
    },
    methods: {
      handleSwitch () {
        if (!this.get().disabled) {
          const checked = this.get().checked
          this.set({ checked: !checked })
          this.fire('change', !checked )
        }
      }
    }
  }
</script>