.measure
    position absolute
    top 0px
    bottom 0px
    right 0px
    z-index 10
    width 50px
    > *
        position absolute
        right 0px
        width 100%
        border-top 1px solid #b1884b
        text-align right
        color #b1884b
        font-family monospace
        font-size 12px
