.slopan
    top 0px
    left 0px
    position absolute
    >*
        white-space nowrap
        font-size 150px
        font-family Arial
        transform rotate(90deg)
        transform-origin 0% 100%

    animation SloPan 1s cubic-bezier(0.180, 0.535, 0.800, 0.420)  both
    // animation-timing-function cubic-bezier(0.180, 0.535, 0.800, 0.420) 

@keyframes SloPan
    0%
        transform translateY(0vh)
    100%
        transform translateY(-250vh)


@keyframes Whaling
    0%
        transform translate(10vmin,10vmin) rotate(0)
    25%
        transform translate(70vmin,10vmin) rotate(1/4turn)
    50%
        transform translate(70vmin,70vmin) rotate(1/2turn)
    75%
        transform translate(10vmin, 70vmin) rotate(3/4turn)
    100%
        transform translate(10vmin,10vmin) rotate(1turn)

// @keyframes Whaling{
//   0% {
//     transform:  translate(-175px,-115px)  rotate(0deg) ;
//   }
//   7% {
//     transform:  translate(-49px,-181px)  rotate(13deg) ;
//   }
//   16% {
//     transform:  translate(70px,-173px)  rotate(29deg) ;
//   }
//   27% {
//     transform:  translate(110px,-72px)  rotate(49deg) ;
//   }
//   43% {
//     transform:  translate(52px,56px)  rotate(77deg) ;
//   }
//   58% {
//     transform:  translate(-111px,81px)  rotate(104deg) ;
//   }
//   74% {
//     transform:  translate(-235px,-1px)  rotate(133deg) ;
//   }
//   85% {
//     transform:  translate(-244px,-74px)  rotate(153deg) ;
//   }
//   100% {
//     transform:  translate(-167px,-100px)  rotate(180deg) ;
//   }
// }

.whale
    top 0px
    left 0px
    position absolute
    background-color grey
    color cyan
    animation Whaling 1s linear both
    // animation-timing-function cubic-bezier(0.180, 0.535, 0.800, 0.420) 
