.atom-section[data-id="start"]{
    min-height: 100vh;
    height: 100px;
    display: flex;
    flex-direction: column;
}


.video-frame{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 400px;
    min-height: 400px;
    overflow: hidden;
 background: var(--gradient2);
    @media(--md){
        height: 630px;
        min-height: 630px;
    }

}

.atom-video{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*.browser-ie
    .video-frame.mode-background
        video
            position: absolute;
            top: 50%;
            left: 50%;
            width: auto;
            height: auto;
            min-width: 100%;
            min-height: 100%;
            transform: translate(-50%, -50%);*/

.atom-video-header{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'RalewayBold';
    font-size: 32px;
    line-height: 1;
    
    -webkit-text-stroke: 1px white;
    color: rgba(0,0,0,0);

    @media(--md){
        font-size: 80px;
        -webkit-text-stroke: 2px white;
        margin-bottom: 72px;
    }
}

.atom-arrowm{
    position: absolute;
    bottom: 20px;
    @media(--md){
        display: none;
    }
}

.atom-start-bottom{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: var(--gradient2);
    flex-grow: 1;
    width: 100%;
    padding: 20px;
    @media(--md){
        min-height: 400px;
    }
}

    .atom-start-bottom-text{
        max-width: 600px;
        width: 100%;
        font-size: 18px;
        line-height: 25px;
        margin-top: 20px;
        margin-bottom: 100px;
        color: white;

        @media(--md){
            margin-bottom: 0px;
            font-size: 26px;
            line-height: 36px;
            margin-top: 80px;
        }
    }



.atom-start-menu-m{
    display: block;
    @media(--md){
        display: none;
    }
}

.atom-start-menu-button-m{
    width: 100%;
    background: rgba(0,0,0,1);
    cursor: pointer;
    padding: 20px;
    border-top: 1px solid white;
    pointer-events: auto;
    transition: background 0.5s ease-out;
    color: white;
}
.atom-start-menu-button-m:last-child{
    border-bottom: 1px solid white;
}
.atom-start-menu-button-m:hover{
    background: var(--gradient2);
    color: /*black*/;
}

.atom-start-menu-button-txts-m{
    display: flex;
    flex-direction: column;

}

.atom-start-menu-button-txt1-m{
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 5px;
    font-family: 'RalewayMedium';
}
.atom-start-menu-button-txt2-m{
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 0px;
    font-family: 'RalewayBold';
    text-transform: uppercase;
}



.atom-start-menu{
    position: absolute;
    top:0;
    left: 0;
    right:0;
    bottom: 0;
    z-index: 5;
    pointer-events: none;
    display: none;
    @media(--md){
        display: block;
    }
}

    .atom-start-menu-btn{
        position: absolute;
        top:0;
        right: 0;
        width: 100px;
        height: 100%;
        background-color: rgba(0,0,0,0.9);
        overflow: hidden;
        cursor: pointer;
        pointer-events: auto;
    }


.atom-start-menu-texts-block{
    position: absolute;
    top: 0;
    left: 0;
}

.atom-start-menu-texts{
    position: relative;
    top: -40px;
    width: 4000px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transform-origin: 0 50%;
    transform: rotate(90deg);
}

    .atom-start-menu-text{
        font-family: 'RalewayBold';
        font-size: 32px;
        line-height: 1;
        margin-bottom: 100px;
        -webkit-text-stroke: 1px white;
        color: rgba(0,0,0,0);
        margin-right: 45px;
    }

.atom-start-menu-btns{
    visibility: hidden;
}

.atom-start-menu-btns-visible{
    visibility: visible;
}

.atom-start-menu-button-txt1{
    font-family: 'RalewayBold';
    font-size: 32px;
    line-height: 1;
    -webkit-text-stroke: 1px white;
    color: rgba(0,0,0,0);
    margin-right: 26px;
    text-transform: uppercase;
}

.atom-start-menu-button-txt2{
    font-family: 'RalewayBold';
    font-size: 32px;
    line-height: 1;
    color: white;
    text-transform: uppercase;
}

.atom-start-menu-button{
    opacity: 0;
    position: absolute;
    top:0;
    width: 100px;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    cursor: pointer;
    padding-left: 34px;
    border-left: 1px solid white;
    transition: background-color 0.5s ease-out;
    pointer-events: auto;
}
.atom-start-menu-button:hover{
    background-color: rgba(0,0,0,1);
    z-index: 7;

    & .atom-start-menu-image{
        opacity: 1;
    }
}

.atom-start-menu-button[data-id="0"]{right: 600px;border-left: 0px solid white;z-index:0;}
.atom-start-menu-button[data-id="1"]{right: 500px;z-index:1;}
.atom-start-menu-button[data-id="2"]{right: 400px;z-index:2;}
.atom-start-menu-button[data-id="3"]{right: 300px;z-index:3;}
.atom-start-menu-button[data-id="4"]{right: 200px;z-index:4;}
.atom-start-menu-button[data-id="5"]{right: 100px;z-index:5;}
.atom-start-menu-button[data-id="6"]{right: 0px;z-index:6;}

.atom-start-menu-button-txts{
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 100%;
    width: 4000px;
    margin-top: -15px;
}

.atom-start-menu-image{
    width: 320px;
    height: 360px;
    top: 50%;
    right: 0;
    position: absolute;
    transform: translate(0, -50%);
    opacity: 0;
    transition: all 0.5s ease-out;
    pointer-events: none;
    & img{
        width: 100%;
    }
}