.atom-section[data-id="folder"]{
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
	position: relative;
    background-color: black;
	
	min-height: 600px;
	height: 100vh;

	@media(--md){
	    min-height: 100vh;
	    height: 1000px;
	}

}


.atom-folder-image-container{

	position: absolute;
	width: 80%;
	& img{
		width: 100%;
	}

	@media(--md){
		width: 688px;
		height: 766px;
	}
}


.atom-folder-texts{
	position: relative;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	width: 100%;
	height: 180px;

	@media(--md){
		height: 420px;
	}
}

.atom-folder-texts-line{
	width: 100%;
	height: 1px;
	background-color: white;
	position: absolute;
	top: 50%;
}


.atom-folder-top-texts{
	padding-top: 30px;
	position: relative;
	width: 6000px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: -12px;

	@media(--md){
		padding-top: 40px;
	}	
}
.atom-folder-bottom-texts{
	
	position: relative;
	width: 6000px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	z-index: 5;
}

	.atom-folder-top-text{
		font-family: 'RalewayBold';
		font-size: 32px;
		line-height: 1;
		-webkit-text-stroke: 1px white;
		color: rgba(0,0,0,0);
		margin-right: 60px;
		margin-bottom: 70px;
		text-transform: uppercase;
		@media(--md){
			margin-bottom: 100px;
			font-size: 126px;
			-webkit-text-stroke: 2px white;
		}
	}


.atom-folder-arr{
	position: absolute;
	bottom: 70px;
	left: 50%;
	transform: translate(-50%, 0);
	@media(--md){
		display: none;
	}
}