// @import 'element-theme-default/lib/slider.css';

.options
    padding-top 16px
    padding-bottom 16px
    border-top 1px solid #20a0ff
    border-bottom 1px solid #20a0ff

.option
    margin-bottom 8px
    padding-left 10px
    padding-right 20px

.option > span:first-child
    display inline-block
    min-width 240px

.el-slider 
	float right
	width calc(100% - 250px)

// .el-checkbox
//     float right
	
.clear
	clear both
