.atom-section[data-id="footer"]{
	overflow-x: hidden;
	position: relative;
}

.atom-footer-top{
	padding:20px;
	height: 320px;
	cursor: pointer;
	@media(--md){
		height: 588px;
	}
}
.atom-footer-texts{
	position: relative;
	width: 100%;
	height: auto;
	@media(--md){
		height: 300px;
	}
}

.atom-footer-texts-line{
	width: 100%;
	height: 1px;
	background-color: white;
	position: absolute;
	top: 50%;
}


.atom-footer-top-texts{
	padding-top: 20px;
	position: relative;
	width: 4000px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: -10px;
	z-index: 5;
	@media(--md){
		padding-top: 40px;
	}
}
.atom-footer-bottom-texts{
	position: relative;
	width: 4000px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-top: 45px;
	@media(--md){
		padding-top: 0px;
	}
}

	.atom-footer-top-text{
		font-family: 'RalewayBold';
		font-size: 32px;
		line-height: 1;
		margin-bottom: 15px;
		-webkit-text-stroke: 0.5px white;
		color: rgba(0,0,0,0);
		margin-right: 60px;
		text-transform: uppercase;

		@media(--md){
			text-transform: unset;
			font-size: 80px;
			margin-bottom: 72px;
			-webkit-text-stroke: 1px white;
		}

	}

.atom-footer-image-container{

	width: 256px;
	height: 190px;
	position: absolute;
	top: 0;
	right: 0px;

	@media(--md){
		width: 1064px;
		height: 588px;
	}

	& img{
		width: 100%;
	}
}





.atom-footer-bottom{
	background: var(--gradient2);
	padding: 20px;
	padding-top: 40px;
	padding-bottom: 60px;
	@media(--md){
		padding-bottom: 100px;
	}
}

	.atom-footer-line{
		width: 100%;
		height: 1px;
		background-color: white;
		margin-bottom: 40px;
		display: none;
		@media(--md){
			/*display: block;*/
			display: none;
		}
	}

	.atom-bottom-row{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-direction: column-reverse;
		@media(--md){
			flex-direction: row;
		}
	}

	.atom-bottom-txt{
		font-family: 'RalewayMedium';
		font-size: 16px;
		line-height: 21px;
		display: inline-block;
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 20px;
		color: white;
		@media(--md){
			margin-left: 40px;
			margin-right: 40px;
		}
		@media(--lg){
			margin-bottom: 0px;
			max-width: 260px;
		}
	}

	.atom-social{
		display: flex;
		width: 100%;
		margin-bottom: 40px;
		@media(--md){
			margin-bottom: 0px;
			width:auto;
		}
	}

	.atom-social-btn{
		width: 45px;
		height: 45px;
		min-width: 45px;
		cursor: pointer;
		margin-left: 30px;

		@media(--md){
			width: 36px;
			min-width: 36px;
			height: 36px;
			margin-left: 10px;
		}


		& svg{
			width: 100%;
			height: 100%;
		}
	}
	.atom-social-btn[data-id="0"]{
		margin-left: 0px;
	}

	.atom-bottom-logo{
		cursor: pointer;
		display: none;
		@media(--md){
			display: block;
		}
	}


	.atom-bottom-txt-box{
		display: flex;
		flex-direction: column;

		@media(--lg){
			flex-direction: row;
		}
	}

	.atom-bottom-logo-mobile{
		display: block;
		width: 100%;
		cursor: pointer;
		@media(--md){
			display: none;
		}
	}

.atom-footer-arrow{
	z-index: 5;
	margin-top: 60px;
	position: relative;
	width: 100%;
	max-width: auto;

	@media(--md){
		margin-top: 100px;
		max-width: 316px;
	}

}


	.atom-next-link-box-text0{
		font-family: 'RalewayMedium';
		color: white;
		font-size: 14px;
		line-height: 29px;
		margin-bottom: 0px;
		@media(--md){
			font-size: 16px;
			line-height: 22px;
			margin-bottom: 10px;
		}
	}

	.atom-next-link-box-text1{
		font-family: 'Raleway';
		color: white;
		font-size: 18px;
		line-height: 25px;
		@media(--md){
			font-size: 26px;
			line-height: 36px;
		}		
	}

	.atom-next-link-arrow{
		position: absolute;
		right: 0px;
		bottom: -5px;

		@media(--md){
			right: 0px;
		}

	}