<!DOCTYPE html>
<html lang="en" ontouchmove>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=Edge,chrome=1"/>
		<title><%= htmlWebpackPlugin.options.title %></title>

		<style type="text/css">body{padding:0;margin:0;background-color:#ddd;}</style>
		<link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
			
	</head>
	<body>
		<div id="atom20">
			<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
			<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script><% } %>
		</div>
	</body>
</html>
