@import './components/app';
@import './components/menu';
@import './components/about';
@import './components/stories';
@import './components/folder';
@import './components/footer';
@import './components/start';

@font-face {
    font-family: 'Raleway';
    src: url('~assets/fonts/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'RalewayMedium';
    src: url('~assets/fonts/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'RalewaySemiBold';
    src: url('~assets/fonts/Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'RalewayBold';
    src: url('~assets/fonts/Raleway-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


:root {
  --color-light-pink: #EEEAF4;
  --color-pink: #F0597D;
  --color-violet: #866DAF;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --shadow: 0px 0px 8px 2px rgba(0,0,0,0.4);
  --gradient: linear-gradient(180deg, #052F81 0%, #0A3D9F 11.46%, #8895AF 100%);
  --gradient2: linear-gradient(90deg, #052F81 0%, #0A3D9F 11.46%, #8895AF 100%);
}

@custom-media --xs (max-width: 575px);
@custom-media --sm (min-width: 576px);
@custom-media --md (min-width: 769px);
@custom-media --lg (min-width: 992px);
@custom-media --xl (min-width: 1200px);

@custom-media --ie all and (-ms-high-contrast: none), (-ms-high-contrast: active);
@custom-media --nonretina not screen and (-webkit-min-device-pixel-ratio: 2),
not screen and (   min--moz-device-pixel-ratio: 2),
not screen and (     -o-min-device-pixel-ratio: 2/1),
not screen and (        min-device-pixel-ratio: 2),
not screen and (                min-resolution: 192dpi),
not screen and (                min-resolution: 2dppx);

