.gooey-spinner
    margin:0;
    width 100%
    height 100%

    .centered
        // z-index 1
        width:400px;
        height:400px;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        background-color white;
        filter: blur(10px) contrast(20) 
        // mix-blend-mode multiply
        opacity .2

    .blob-1,.blob-2
        width:70px;
        height:70px;
        position:absolute;
        background-color #fff;
        border-radius:50%;
        top:50%;left:50%;
        transform:translate(-50%,-50%);

    .blob-1
        left:20%;
        animation:osc-l 2.5s ease infinite;
        background-color #000 //#830 //#c5d6b9 

    .blob-2
        left:80%;
        animation:osc-r 2.5s ease infinite;
        background-color #000 //#083 //#008dcb

    .somcha
        position absolute
        top 0px
        left 0px
        width 100%
        height 100%
        background-color rgba(#000, .1)
        mix-blend-mode multiply    

@keyframes osc-l{
    0%{left:20%;}
    50%{left:50%;}
    100%{left:20%;}
}

@keyframes osc-r{
    0%{left:80%;}
    50%{left:50%;}
    100%{left:80%;}
}